<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect /api requests to public/index.php
    RewriteRule ^api/(.*)$ public/index.php [QSA,L]
    RewriteRule ^api$ public/index.php [QSA,L]
</IfModule>
